<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pomo</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

        <div class="nav">
            <div class="nav-item nav-header">
                POMO
            </div>

            <a href="./index.html" class="nav-item nav-link active">
                Tasks
            </a>

            <a href="./config.html" class="nav-item nav-link">
                Config
            </a>
        </div>


        <div class="main">
            <div class="row main-margin">
                <div class="w-1"></div>

                <div class="w-10 modal">
                    <div class="row">
                        <div class="w-12 title">
                            Tasks
                        </div>
                    </div>

                    <div class="row">
                        <div class="w-4">
                            <button onclick="alert('Not Implemented!')">Button 1</button>
                        </div>
                        <div class="w-4">
                            <button onclick="alert('Not Implemented!')">Button 2</button>
                        </div>
                        <div class="w-4">
                            <button onclick="alert('Not Implemented!')">Button 3</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>